h2 Profile
/ %hr/
/ .row
/   .col-sm-8
/     %form{role: "form"}
/       .form-group.float-label-control
/         %label{for: ""} Email
/         %input.form-control{placeholder: "Email", type: "email"}/
/       .form-group.float-label-control
/         %label{for: ""} Password
/         %input.form-control{placeholder: "Password", type: "password"}/
/       .form-group.float-label-control
/         %label{for: ""} Textarea
/         %textarea.form-control{placeholder: "Textarea", rows: "1"}
/     %h4.page-header Bottom Labels
/     %form{role: "form"}
/       .form-group.float-label-control.label-bottom
/         %label{for: ""} Username
/         %input.form-control{placeholder: "Username", type: "email"}/
/     %h4.page-header Placeholder Overrides
/     %form{role: "form"}
/       .form-group.float-label-control
/         %label{for: ""} Email Address
/         %input.form-control{placeholder: "What's your email address?", type: "email"}/
/   .col-sm-4
/     .panel.panel-default
/       .panel-heading
/         %h3.panel-title
/           Edit Your Profile
/       .panel-body
/         %ul
/           %li Guide contents
